*{
    margin: .5rem;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}
h1 {
    background-color: black;
    color: #00ffff;
    text-align: start;
    padding: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

h2 {
    background-color: #663399;
    color: white;
    text-align: center;
    font-style: italic;
    padding: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

h3 {
    background-color: #9fc5f8;
    color: black;
    text-align: end;
    text-decoration: underline;
    padding: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

h1 span {
    color: white;
    margin: 0;
}